.PadreCarta {
    margin: auto;
    box-shadow: 0px 6px 7px 1px rgb(0 0 0 / 20%);
}

.menu-Header-C {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-Carrito-C,
.inicio-De-Sesion-C {
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5%;
}

.logoC {
    width: 50%;
    display: flex;
    justify-content: center;
}
@media(max-width:768px){
    .logoC{
        width: 40%;
    }
}
@media(max-width:425px){
    .btn-Carrito-C{
        z-index: 999;
    }
    .logoC{
        z-index: 998;
    }
    .inicio-De-Sesion-C{
        z-index: 999;
    }
}