.menu-Adulto-1 {
    background-color: rgb(226, 226, 226);
    display: flex;
    padding-top: 5%;
    width: 100%;
    padding-bottom: 10%;
}

.platillo-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.info-Platillo-Adulto1 {
    text-align: right;
    width: 30%;
    font-size: 1.5rem;
    margin: auto;
}

.compra {
    display: flex;
    width: 100%;
    margin: auto;
    height: 100%;
    padding-top: 4%;
    justify-content: space-between;
    padding: 1.8rem;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 7px 1px rgb(0 0 0 / 20%);
}

.btn-Agregar {
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    color: white;
    background-color: rgb(238, 161, 17);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 7px 1px rgb(0 0 0 / 20%);
}

.btn-Agregar.active {
    background-color: rgb(70, 246, 0);
}

.precio {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.borde-divisor-naranja {
    margin: 0;
    color: rgb(255, 123, 0);
    border-bottom: 3px solid;
    width: 65%;
    margin-left: 35%;
}
.btn-Compra1{
    margin: 0;
}
.menuContainer{
    justify-content: center;
    color: white;
    background-color: rgb(238, 161, 17);
    width: 45%;
    border-radius: 10px;
    margin: auto;
    box-shadow: inset 0px 7px 20px 8px rgb(0 0 0 / 20%);
    margin-bottom: 5%;
    margin-top: 10%;
}
.titulo_Menu{
    color: white;
    background-color: rgb(226, 226, 226);
    width: 100%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 9px 15px 0px rgb(0 0 0 / 20%);
}
.switch-D{
    justify-content: center;
    margin: 0;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 7rem;
}

@media(max-width:1024px) {
    .borde-divisor-naranja {
        width: 90%;
        margin-left: 10%;
    }

    .btn-Agregar {
        width: 45%;
        margin: 0;
    }
    .switch-D{
        justify-content: center;
        margin: 0;
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 6rem;
    }
    .menuContainer{
        width: 55%;
    }
}

@media (max-width:768px) {
    .platillo-1 img{
        height: 250px;
    }
    .info-Platillo-Adulto1{
        width: 40%;
    }
    .menu-Adulto-1{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .compra{
        padding:1.5rem;
    }
    .btn-Agregar {
        width: 50%;
    }
    .btn-Compra1{
        font-size: 20px;
        margin: 10%;
    }
    .menuContainer {
        width: 70%;
    }
}

@media(max-width:425px) {
    .menu-Adulto-1{
        flex-direction: column;
        padding-top: 20%;
    }
    .platillo-1{
        width: 78%;
    }
    .info-Platillo-Adulto1 {
        text-align: center;
        width: 80%;
        margin-top: 10%;
    }
    .borde-divisor-naranja{
        margin-left: 6%;
    }
    .titulo_Menu{
        padding-top: 10%;
    }
    .switch-D{
        font-size: 4rem;
    }
    .menuContainer {
        width: 85%;
    }
}
@media(max-width:375px){
    .switch-D {
        font-size: 3rem;
    }
}
@media(max-width:320px){
    .compra{
        flex-direction: column;
        align-items: center;
    }
    .btn-Agregar{
        width: 70%;
    }
    .precio{
        padding-top: 5%;
    }
}