.Padre-Carrito-Lista {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 3%;
    box-shadow: -13px 13px 7px 1px rgb(0 0 0 / 20%);
}

.info-P {
    display: flex;
    width: 45%;
}

.info-P h2 {
    width: 50%;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-family: 'Lobster';
}

.info-P img {
    width: 50%;
    height: 140px;
}

.precio-P {
    width: 15%;
    text-align: center;
}

.ordenar-Pedido {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ordenar-Pedido-Container {
    display: flex;
    width: 50%;
    align-items: center;
}

.ordenar-Pedido-Container button {
    width: 35%;
    height: 20%;
    border: none;
    background-color: #b9b9b9;
    color: rgb(58, 58, 58);
    cursor: pointer;
    border-top: solid 1px #b9b9b9;
    border-bottom: solid 1px #b9b9b9;
}

.ordenar-Pedido-Container h2 {
    width: 30%;
    text-align: center;
    font-size: 1.6rem;
}

.precio-Total-Carrito {
    width: 60%;
    margin: auto;
}

.contenedor-Finalizar-Pedido {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.opciones-Pedido {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    background-color: #b9b9b9;
    font-weight: bold;
    height: 80px;
}

.vector-Borrar-Producto {
    width: 10%;
}

.boton-Finalizar-Compra {
    display: flex;
    justify-content: flex-end;
    padding-top: 3%;
}

.vector-Borrar-Producto img {
    width: 50px;
    height: 50px;
}

.button-Carrito-F {
    width: 23%;
    height: 50px;
    border: none;
    background-color: #ffb71b;
    font-size: 1.2rem;
    border-radius: 22px;
    cursor: pointer;
}

@media(max-width:1024px) {
    .Padre-Carrito-Lista {
        width: 80%;
    }

    .precio-Total-Carrito {
        width: 80%;
    }

    .button-Carrito-F {
        width: 30%;
    }
}

@media(max-width:768px) {
    .Padre-Carrito-Lista {
        width: 80%;
    }

    .precio-Total-Carrito {
        width: 80%;
    }

    .opciones-Pedido {
        width: 25%;
    }

    .button-Carrito-F {
        width: 30%;
    }
}

@media(max-width:425px) {
    .Padre-Carrito-Lista {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-P {
        flex-direction: column;
        padding-left: 3%;
        width: 40%;
        padding-bottom: 5%;
    }

    .info-P img {
        width: 85%;
        padding-top: 3%;
    }

    .info-P h2 {
        width: 85%;
        font-size: 1.8rem;
    }

    .ordenar-Pedido {
        margin-left: 3%;
    }

    .ordenar-Pedido-Container {
        width: 100%;
    }

    .vector-Borrar-Producto {
        width: 10%;
        margin-left: 2%;
    }

    .precio-Total-Carrito {
        width: 90%;
    }

    .opciones-Pedido {
        justify-content: space-evenly;
        width: 40%;
    }

    .contenedor-Finalizar-Pedido {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .button-Carrito-F {
        width: 50%;
    }
}

@media(max-width:375px) {
    .info-P h2 {
        font-size: 1.5rem;
    }

    .vector-Borrar-Producto img {
        width: 45px;
        height: 45px;
    }

}

@media(max-width:320px) {
    .vector-Borrar-Producto img {
        width: 30px;
        height: 30px;
    }

    .button-Carrito-F {
        width: 55%;
    }
}