.claseActivaP {
    opacity: 0;
    transform: translate(-100%, 0);
    transition: opacity 2s ease, transform 1s ease;
}
.claseActivaP.div{
    transform: translate(0, 0);
    opacity: 1;
    transition: opacity 2s ease, transform 1s ease;
    padding-left: 6%;
}
.claseActivaP.active {
    opacity: 1;
    transform: translate(0, 0);
}

.claseActivaC {
    opacity: 0;
    transform: translate(100%, 0);
    transition: opacity 2s ease, transform 1s ease;
}

.claseActivaC.div{
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 2s ease, transform 1s ease;
    padding-left: 9%;
}

.claseActivaC.active {
    opacity: 1;
    transform: translate(0, 0);
}
@media(max-width:425px){
    .claseActivaP.active{
        padding-left: 1%;
    }
}