.input-C-Usuario-Padre {
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 87, 87, 0.472);
    position: fixed;
}

.input-C-Usuario-Contenedor {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: 66%;
    margin: 10% auto;
    border-radius: 10px;
}

.input-C-Usuario-Contenedor.active {
    height: 70%;
}

.btn-C-Usuario-X {
    border: none;
    background-color: red;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    height: 58%;
    margin-top: 1%;
}

.crear-C-Inputs {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.inputs-C-Sesion {
    width: 47%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}

.inputs-C-Sesion label {
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
}

.inputs-C-Sesion p {
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 100;
}

.inputs-C-Sesion input {
    font-size: 1.2rem;
    width: 90%;
    margin-bottom: 3%;
    margin-top: 3.5%;
}

.crear-Cuenta-Home {
    font-weight: 100;
    margin: 0;
    font-size: 2rem;
    padding: .5rem;
}

.inputs-C-Sesion input:focus {
    outline: none;
}

.inputs-C-Sesion-A {
    margin-left: 4%;
    font-weight: 100;
    margin-top: 2%;
    width: 70%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.crear-Usuario {
    margin-top: 2%;
    width: 25%;
    font-size: 1.3rem;
    background-color: red;
    border: none;
    color: white;
    height: 35px;
    border-radius: 5px;
    margin-left: 5%;
    cursor: pointer;
}

.span-Error-Crear-C {
    color: red;
    padding-left: 4%;
    display: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.span-Error-Crear-C.active {
    display: block;
}

@media(max-width:1024px) {
    .input-C-Usuario-Contenedor {
        width: 80%;
    }

    .inputs-C-Sesion input {
        margin-top: 3%;
    }
}

@media(max-width:768px) {
    .input-C-Usuario-Contenedor {
        height: 62%;
        width: 80%;
    }

    .input-C-Usuario-Contenedor.active {
        height: 66%;
    }

    .inputs-C-Sesion input {
        margin-top: 1%;
        margin-left: 1%;
    }

    .inputs-C-Sesion-A{
        margin-left: 5%;
    }
    .span-Error-Crear-C.active{
        padding-left: 5%;
    }
}

@media (max-width: 425px) {
    .input-C-Usuario-Contenedor {
        height: 93%;
        margin: 5% auto;
        width: 90%;
    }

    .inputs-C-Sesion input {
        font-size: 1rem;
        width: 91%;
        margin-top: 0;
    }

    .inputs-C-Sesion label {
        padding-bottom: 0;
    }

    .input-Telefono {
        padding-top: 2%;
    }

    .inputs-C-Sesion-A {
        width: 90%;
        padding-bottom: 2%;
        margin-left: 7%;
    }

    .crear-C-Inputs {
        flex-direction: column;
    }

    .inputs-C-Sesion {
        width: 95%;
        margin-left: 5%;
    }

    .crear-Usuario {
        margin-left: 8%;
    }

    .input-C-Usuario-Contenedor.active {
        height: 95%;
    }

    .span-Error-Crear-C {
        padding-left: 7%;
    }
}

@media(max-width:375px) {
    .crear-Usuario {
        width: 30%;
    }

    .inputs-C-Sesion-A {
        font-size: 12px;
        padding-bottom: 0;
    }

    .input-C-Usuario-Contenedor {
        height: 90%;
    }
}

@media(max-width:320px) {
    .crear-Cuenta-Home {
        font-weight: 100;
        margin: 0;
        font-size: 1.5rem;
        padding: .5rem;
    }

    .crear-Usuario {
        width: 35%;
    }

    .inputs-C-Sesion input {
        margin-top: 3%;
    }

    .span-Error-Crear-C {
        font-size: 1rem;
    }

}