.Header-Home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 155px;
    font-family: 'Montserrat';
    box-shadow: 2px 2px 10px 10px rgb(0 0 0 / 20%);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}

.logo-Home {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-Home-Hamburguer {
    display: none;
}

.UsuariosHome {
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.imagen-Logo-Home {
    width: 250px;
    height: 250px;
}

.contenedor-Hamburguesa {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hamburger {
    display: none;
}

.NavLinks-Home {
    margin-left: 5%;
    width: 60%;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.boton-Nav-Left {
    background-color: transparent;
    height: 23%;
    width: 20%;
    border: none;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-Nav-Left:hover {
    transition: 0.3s all;
    opacity: 1;
    background-color: rgb(255, 188, 62);
    font-weight: bold;
    color: white;
}

.boton-Nav-Mid {
    background-color: transparent;
    height: 23%;
    width: 20%;
    border: none;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.boton-Nav-Mid:hover {
    transition: 0.3s all;
    opacity: 1;
    background-color: rgb(255, 188, 62);
    font-weight: bold;
    color: white;
}

.boton-Nav-Right {
    background-color: transparent;
    height: 23%;
    width: 20%;
    border: none;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-Nav-Right:hover {
    transition: 0.3s all;
    opacity: 1;
    background-color: rgb(255, 188, 62);
    font-weight: bold;
    color: white;
}

.boton-Nav-Infusion {
    background-color: transparent;
    height: 23%;
    width: 20%;
    border: none;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-Nav-Infusion:hover {
    transition: 0.3s all;
    opacity: 1;
    background-color: rgb(255, 188, 62);
    font-weight: bold;
    color: white;
}

.boton-Nav-Usuario {
    margin-top: 22%;
    width: 80%;
    background-color: rgb(255, 188, 62);
    height: 55px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
}

.boton-Nav-Usuario:hover {
    font-weight: bold;
    background-color: rgb(238, 161, 17);
    transition: 0.3s all;
}

.sesion-Iniciada-Home {
    width: 7%;
    transform: translate(0px, -100%);
    height: 144px;
    background-color: rgb(238, 161, 17);
    padding: 3rem;
    position: absolute;
    top: 0;
}

.sesion-Iniciada-Home img {
    position: absolute;
    top: 30%;
}

.sesion-Iniciada-Home.active {
    transform: translate(0px, 0px);
    transition: transform .5s ease-in;
    width: 13.5%;
    height: 180px;
}

.circulo-Blanco-Sesion-Home {
    width: 60%;
    left: 20%;
    background-color: white;
    height: 107px;
    position: absolute;
    top: 11%;
    border-radius: 10px;
}

.contenedor-Bandera-Home {
    display: -webkit-box;
    position: absolute;
    transform: translate(0px, -300%);
}

.contenedor-Bandera-Home.active {
    margin-top: 4%;
    display: -webkit-box;
    position: absolute;
    transform: translate(0px, 0px);
    transition: transform .5s ease-in;
}

.izquierda-Home, .derecha-Home {
    border-top: 75px solid rgb(238, 161, 17);
    border-bottom: 50px solid transparent;
    height: 0px;
    width: 0px;
}

.izquierda-Home {
    border-left: 100px solid rgb(238, 161, 17);
}

.derecha-Home {
    border-right: 92px solid rgb(238, 161, 17);
}

@media(max-width:1024px) {
    .Header-Home {
        height: 130px;
    }

    .hamburger {
        display: none;
    }

    .boton-Nav-Left,
    .boton-Nav-Mid,
    .boton-Nav-Right {
        width: 24%;
    }

    .boton-Nav-Left {
        font-size: 15px;
    }

    .boton-Nav-Infusion {
        width: 24%;
    }

    .NavLinks-Home {
        width: 60%;
        margin-left: 0;
        justify-content: space-between;
    }

    .UsuariosHome {
        width: 20%;
    }

    .sesion-Iniciada-Home.active {
        height: 175px;
        width: 16.5%;
    }

    .izquierda-Home {
        border-left: 83px solid rgb(238, 161, 17);
    }

    .derecha-Home {
        border-right: 85px solid rgb(238, 161, 17);
    }

    .contenedor-Bandera-Home.active {
        margin-top: 5%;
    }

    .circulo-Blanco-Sesion-Home {
        width: 65%;
        left: 19%;
        height: 95px;
        top: 11%;
    }

    .sesion-Iniciada-Home img {
        left: 22%;
    }

    .boton-Nav-Usuario {
        font-size: 1.3rem;
        width: 95%;
    }

    .imagen-Logo-Home {
        width: 200px;
        height: 200px;
    }
}

@media(max-width:768px) {
    .NavLinks-Home {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        height: 70%;
        margin-top: 10%;
    }

    .hamburger {
        display: none;
        position: absolute;
        top: 2%;
    }

    .imagen-Logo-Home {
        width: 200px;
        height: 200px;
    }

    .boton-Nav-Left {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 100%;
        height: 80%;
    }

    .boton-Nav-Right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
    }

    .boton-Nav-Mid {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
    }

    .boton-Nav-Infusion {
        width: 100%;
        height: 80%;
    }

    .boton-Nav-Usuario {
        width: 100%;
        font-size: 1rem;
    }

    .izquierda-Home {
        border-left: 74px solid rgb(238, 161, 17);
    }

    .derecha-Home {
        border-right: 75px solid rgb(238, 161, 17);
    }

    .contenedor-Bandera-Home.active {
        margin-top: 6%;
    }

    .sesion-Iniciada-Home img {
        left: 19%;
    }

    .sesion-Iniciada-Home.active {
        width: 19.4%;
    }

    .UsuariosHome {
        width: 20%;
    }
}

@media(max-width:650px) {
    .logo-Home {
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
        opacity: 1;
        visibility: visible;
        margin-top: -6%;
        transition: all .5s ease;
    }

    .logo-Home.activate {
        opacity: 0;
        visibility: hidden;
        transition: all .1s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .logo-Home-Hamburguer {
        position: fixed;
        top: 5%;
        z-index: 3;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 998;
        opacity: 0;
        transform: translate(-100%, 0px);
        transition: all .5s ease;
    }

    .logo-Home-Hamburguer.activate {
        transform: translate(0, 0);
        transition: all .5s ease;
        opacity: 1;
    }

    .logo-Home-cuadro-Hamburguer {
        background-color: white;
        height: 130px;
        width: 25%;
        border-radius: 5%;
    }

    .logo-Home-cuadro.activate {
        visibility: hidden;
    }

    .Header-Home {
        flex-direction: column;
    }

    .hamburger {
        display: block;
        position: absolute;
        left: 3%;
        top: 5%;
        z-index: 999;
    }

    .hamburger.active {
        left: 80%;
    }

    .contenedor-Hamburguesa {
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 2;
        flex-direction: column;
        visibility: hidden;
        background-color: #232323a6;
    }

    .contenedor-Hamburguesa.active {
        visibility: visible;
    }

    .NavLinks-Home {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        height: 45%;
        justify-content: space-between;
        align-items: center;
        z-index: 998;
        transform: translate(-100%, 0px);
        transition: all .5s ease;
        position: absolute;
        top: 40%;
    }

    .NavLinks-Home.active {
        transform: translate(0, 0);
        transition: all .5s ease;
        top: 35%;
    }

    .UsuariosHome {
        width: 100%;
        height: 40%;
        transform: translate(-100%, 0px);
        transition: all .5s ease;
        position: absolute;
        top: 0;
    }

    .UsuariosHome.active {
        transform: translate(0, 0);
        transition: all .5s ease;
    }

    .boton-Nav-Left {
        margin-top: 10%;
    }

    .boton-Nav-Right,
    .boton-Nav-Left,
    .boton-Nav-Mid {
        width: 45%;
        height: 10%;
        background-color: white;
        height: 50px;
        border-radius: 5px;
    }

    .boton-Nav-Infusion {
        width: 45%;
        background-color: white;
        height: 50px;
        border-radius: 5px;
    }

    .boton-Nav-Usuario {
        margin-top: 33%;
        border-radius: 5px;
    }

    .imagen-Logo-Home-Hamburguer {
        width: 200px;
        height: 200px;
        margin-top: 4%;
        position: absolute;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner:after,
    .hamburger.is-active .hamburger-inner:before {
        background-color: white;
    }

    .sesion-Iniciada-Home.active img {
        margin-left: 7%;
        top: 18%;
    }

    .circulo-Blanco-Sesion-Home {
        left: 35%;
        width:32%;
        height: 85px;
        background-color: rgb(238, 161, 17);
        top: 50%;
        border-radius: 50px;
    }

    .sesion-Iniciada-Home {
        transform: translate(-100%, 0px);
        opacity: 0;
        transition: transform opacity .5s ease-in;
    }

    .sesion-Iniciada-Home.active {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: transform opacity .5s ease-in;
        width: 45%;
        left: 27%;
        height: 165px;
        top: 45%;
    }

    .contenedor-Bandera-Home,
    .contenedor-Bandera-Home.active {
        display: none;
    }
}

@media(max-width:425px) {
    .logo-Home-cuadro-Hamburguer {
        width: 30%;
    }

    .logo-Home {
        margin-top: -7.5%;
    }
    .circulo-Blanco-Sesion-Home{
        width: 45%;
        left: 30%;
    }
    .boton-Nav-Usuario{
        width: 45%;
    }
}

@media(max-width:375px) {
    .sesion-Iniciada-Home.active img {
        margin-left: 6%;
        right: 21%;
    }

    .sesion-Iniciada-Home.active {
        left: 25%;
        width: 48%;
    }

    .boton-Nav-Right,
    .boton-Nav-Left,
    .boton-Nav-Mid,
    .boton-Nav-Infusion {
        width: 55%;
    }

    .logo-Home-cuadro-Hamburguer {
        width: 35%;
    }

    .circulo-Blanco-Sesion-Home {
        height: 75px;
    }
}

@media (max-width: 320px) {
    .sesion-Iniciada-Home.active img {
        right: 18%;
        margin-left: 5%;
    }

    .sesion-Iniciada-Home.active {
        left: 23%;
        width: 52%;
    }

    .hamburger.active {
        left: 75%;
        top: 3%;
    }

    .boton-Nav-Right, .boton-Nav-Left, .boton-Nav-Mid, .boton-Nav-Infusion {
        width: 60%;
    }

    .logo-Home-cuadro-Hamburguer {
        width: 40%;
    }

    .logo-Home {
        margin-top: -10%;
    }

    .circulo-Blanco-Sesion-Home {
        width: 52%;
        left: 28%;
    }
}
