.input-Usuario-Padre {
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 87, 87, 0.472);
    position: fixed;
}

.inicia-Sesion-Home {
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
    padding: .5rem;
}

.input-Usuario-Contenedor {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: 60%;
    margin: 10% auto;
    border-radius: 10px;
    transition: all .5s ease;
}

.input-Usuario-Contenedor.active {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: 65%;
    margin: 10% auto;
    border-radius: 10px;
    transition: all .5s ease;
}

.btn-x-Close {
    margin: 0px;
    margin-top: -70%;
}


.titulo-Sesion {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 3%;
    padding-right: 5%;
    background-color: red;
    font-size: 16px;
    color: white;
}

.btn-Usuario-X {
    border: none;
    background-color: red;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    height: 58%;
    margin-top: 2%;
}

.inputs-Sesion {
    display: flex;
    flex-direction: column;
}

.inputs-Sesion label {
    width: 90%;
    margin-left: 5%;
    z-index: 999;
}

.inputs-Sesion p {
    font-size: 1.2rem;
    font-weight: 100;
    padding-left: 5%;
    padding-top: 5%;
    margin: 10px 0;
}

.input-Email, .input-Contraseña {
    width: 88%;
    margin-left: 5%;
    font-size: 1.3rem;
}

.sesion-Fallida-E {
    margin-top: -8%;
    visibility: hidden;
    width: 90%;
    color: red;
    font-size: 1.2rem;
    padding-left: 10%;
    font-weight: bold;
    opacity: 0;
    transition: all .3s ease;
}

.sesion-Fallida-E.active {
    visibility: visible;
    width: 90%;
    color: red;
    font-size: 1.2rem;
    padding-left: 10%;
    padding-top: 10%;
    font-weight: bold;
    opacity: 1;
    transition: all .5s ease;
    z-index: 998;
}

.input-Email, .input-Contraseña:focus {
    outline: none;
    color: #495057;
}

.inputs-Sesion-A {
    font-weight: 100;
    margin-top: 2%;
    width: 70%;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 4%;
}

.ingresar-Login-Usuario {
    margin-top: 3%;
    width: 25%;
    font-size: 1.3rem;
    background-color: red;
    border: none;
    color: white;
    height: 35px;
    border-radius: 5px;
    margin-left: 9%;
    cursor: pointer;
}

.extra-Login {
    width: 85%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.btn-Extra {
    color: rgb(0, 89, 255);
    border: none;
    background-color: white;
    cursor: pointer;
}

@media(max-width:1024px) {
    .input-Usuario-Contenedor {
        width: 50%;
        height: 62%;
    }

    .input-Usuario-Contenedor.active {
        width: 50%;
        height: 68%;
    }

    .inputs-Sesion-A {
        width: 50%;
        margin-left: 8%;
    }

    .ingresar-Login-Usuario {
        margin-top: 0;
        margin-left: 10%;
    }

    .extra-Login {
        width: 80%;
    }

    .input-Email {
        margin-top: 1%;
    }
}

@media(max-width:768px) {
    .inputs-Sesion-A {
        width: 65%;
        margin-left: 4.5%;
    }

    .input-Usuario-Contenedor {
        height: 67%;
        width: 58%;
    }

    .input-Usuario-Contenedor.active {
        width: 58%;
        height: 75%;
    }

    .input-Email, .input-Contraseña {
        margin-top: 2%;
        margin-left: 4%;
    }

    .ingresar-Login-Usuario {
        margin-left: 9%;
    }
}

@media(max-width:425px) {
    .input-Usuario-Contenedor {
        margin: 30% auto;
        width: 80%;
        height: 475px;
    }

    .input-Usuario-Contenedor.active {
        margin: 30% auto;
        width: 80%;
        height: 500px;
    }

    .inputs-Sesion label {
        padding-bottom: 0%;
        margin-left: 4%;
    }

    .inputs-Sesion-A {
        width: 75%;
        padding-bottom: 0%;
        margin-left: 7%;
    }

    .ingresar-Login-Usuario {
        width: 30%;
    }

    .btn-x-Close {
        margin-top: -50%;
    }

    .input-Email, .input-Contraseña {
        margin-left: 6%;
        margin-top: 1%;
    }

    .btn-Extra {
        width: 50%;
    }
}

@media(max-width:375px) {
    .input-Usuario-Contenedor {
        height: 450px;
    }

    .inputs-Sesion-A {
        width: 85%;
    }

    .ingresar-Login-Usuario {
        width: 33%;
    }

    .input-Email, .input-Contraseña {
        margin-left: 5%;
    }

    .sesion-Fallida-E {
        margin-top: -15%;
        font-size: 1rem;
        padding-left: 8%;
    }

    .sesion-Fallida-E.active {
        font-size: 1rem;
        padding-left: 8%;
        padding-top: 3%;
        margin: 0;
    }
}

@media(max-width:320px) {
    .input-Usuario-Contenedor {
        width: 90%;
    }

    .input-Usuario-Contenedor.active {
        width: 90%;
    }

    .ingresar-Login-Usuario {
        width: 38%;
    }

    .inicia-Sesion-Home {
        font-size: 1.6rem;
    }

    .input-Email, .input-Contraseña {
        margin-top: 2%;
    }

    .btn-Extra {
        width: auto;
    }
}