.Padre-P {
    width: 100%;
    padding-top: 5%;
    background-color: rgb(226, 226, 226);
    box-shadow: inset 0px 0px 15px 0px rgb(0 0 0 / 20%);
    padding-bottom: 5%;
}

.postres {
    width: 90%;
    margin: auto;
    gap: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.seleccion-P {
    justify-content: center;
    color: white;
    background-color: rgb(238, 161, 17);
    width: 25%;
    border-radius: 10px;
    margin: auto;
    box-shadow: inset 0px 7px 20px 8px rgb(0 0 0 / 20%);
    margin-bottom: 6%;
}

.switch-P {
    justify-content: center;
    margin: 0;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 7rem;
}


/********************Seccion de Infusiones **************************************/

.Padre-I {
    width: 100%;
    padding-top: 5%;
    background-color: white;
    padding-bottom: 5%;
}

.infusiones {
    width: 90%;
    margin: auto;
    gap: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.seleccion-I {
    justify-content: center;
    color: white;
    background-color: rgb(238, 161, 17);
    width: 30%;
    border-radius: 10px;
    margin: auto;
    box-shadow: inset 0px 7px 16px 3px rgb(0 0 0 / 20%);
    margin-bottom: 6%;
}

.switch-I {
    justify-content: center;
    margin: 0;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 7rem;
}