.carrito-De-Compras {
    width: 65%;
    height: 20%;
    background-color: rgb(255, 188, 62);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.2);
}

.carrito-De-Compras:hover {
    background-color: rgb(238, 161, 17);
}

.carrito-Con-Nav {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    width: 100%;
}

.btn-Carrito-Img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLink-Carrito {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: white;
}

.btn-Carrito-Header {
    background-color: rgb(97 97 97 / 50%);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15.5%;
    border-radius: 50%;
}

.btn-Carrito-Header p {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    margin-top: -9%;
    padding-left: 29%;

}

.btn-Carrito-Header h2 {
    font-size: 2rem;
    padding-bottom: 2%;
    margin: 0;
}

/****** Inicio De Sesión **************************************************/

.UsuariosHome-G {
    width: 65%;
    height: 20%;
    background-color: rgb(255, 188, 62);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 3px 4px 7px 1px rgb(0 0 0 / 20%);
}

.boton-Nav-Usuario-G {
    text-decoration: none;
    font-size: 2rem;
    background-color: rgb(255, 188, 62);
    color: white;
    font-weight: bold;
    width: 100%;
    border: none;
    cursor: pointer;
}

.sesion-Iniciada {
    width: 7%;
    transform: translate(0px, -100%);
    height: 145px;
    background-color: rgb(238, 161, 17);
    padding: 3rem;
    position: absolute;
    top: 0px;
}

.sesion-Iniciada.active {
    transform: translate(0px, 0px);
    transition: transform .5s ease-in;
}

.contenedor-Bandera {
    display: -webkit-box;
    position: absolute;
    transform: translate(0px, -300%);
}

.contenedor-Bandera.active {
    display: -webkit-box;
    position: absolute;
    transform: translate(0px, 0px);
    transition: transform .5s ease-in;
}

.izquierda, .derecha {
    border-top: 75px solid rgb(238, 161, 17);
    border-bottom: 50px solid transparent;
    height: 0px;
    width: 0px;
}

.izquierda {
    border-left: 100px solid rgb(238, 161, 17);
}

.derecha {
    border-right: 96px solid rgb(238, 161, 17);
}

.circulo-Blanco-Sesion {
    width: 50%;
    background-color: white;
    height: 120px;
    position: absolute;
    top: 45%;
    left: 25%;
    border-radius: 10px;
}

.sesion-Iniciada.active img {
    position: absolute;
    top: 49%;
}

.section {
    width: 55%;
}

/** scroll Up Btn de Carta ***************************/

.btn-Scroll-H {
    opacity: 0;
    transition: opacity 1s ease;
}

.btn-Scroll-H.active {
    opacity: 1;
}

.btn-Scroll-H.active img {
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    padding-right: 2%;
    padding-bottom: 2%;
}

@media(max-width:1024px) {

    .UsuariosHome-G,
    .carrito-De-Compras {
        width: 90%;
    }

    .btn-Carrito-Header {
        left: 16.5%;
    }

    .circulo-Blanco-Sesion {
        width: 60%;
        left: 21%;
    }

    .sesion-Iniciada.active img {
        left: 21%;
    }

    .contenedor-Bandera.active {
        top: 30%;
    }

    .izquierda {
        border-left: 80px solid rgb(238, 161, 17);
    }

    .derecha {
        border-right: 86px solid rgb(238, 161, 17);
    }
}

@media(max-width:768px) {

    .UsuariosHome-G,
    .carrito-De-Compras {
        width: 100%;
    }

    .boton-Nav-Usuario-G {
        font-size: 1.5rem;
    }

    .btn-Carrito-Header {
        left: 19.6%;
    }

    .circulo-Blanco-Sesion {
        width: 70%;
        left: 16%;
    }

    .sesion-Iniciada.active img {
        left: 19%;
    }

    .izquierda {
        border-left: 75px solid rgb(238, 161, 17);
    }

    .derecha {
        border-right: 75px solid rgb(238, 161, 17);
    }
}

@media(max-width:425px) {
    .btn-Carrito-Header {
        left: 12%;
    }

    .boton-Nav-Usuario-G {
        border-radius: 10px;
        font-size: 1rem;
    }

    .navLink-Carrito h2 {
        display: none;
    }

    .btn-Scroll-H img {
        right: 10px;
        bottom: 10px;
        width: 80px;
    }

    .contenedor-Bandera.active {
        display: none;
    }

    .sesion-Iniciada.active {
        visibility: hidden;
        width: 0px;
    }

    .circulo-Blanco-Sesion {
        visibility: visible;
        box-shadow: 0px 3px 4px 4px rgb(0 0 0 / 20%);
        left: -3%;
        top: 85%;
        height: 85px;
        width: 88%;
    }

    .sesion-Iniciada.active img {
        top: 86%;
        visibility: visible;
        width: 80px;
        left: 1%;
    }

}

@media(max-width:375px) {
    .section {
        width: 100%;
    }

    .sesion-Iniciada.active {
        left: 73%;
    }
}

@media(max-width:320px) {
    .boton-Nav-Usuario-G {
        font-size: 1rem;
    }

    .sesion-Iniciada.active {
        width: 27%;
        padding: 0px;
    }

    .circulo-Blanco-Sesion {
        left: -3%;
        top: 146%;
        height: 75px;
        width: 88%;
    }

    .sesion-Iniciada.active img {
        top: 145%;
        width: 80px;
        left: -3%;
    }
}