.img-Contacto-Header {
    object-fit: fill;
    position: relative;
    height: 700px;
    width: 100%;
    z-index: 997;
}


@media(max-width:425px) {
    .img-Contacto-Header {
        display: none;
    }
}